
/* Main container to use CSS grid */
*{
  border: 1px rgb(154, 57, 154) solid;
}
.page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80%;
  height: 100%;
  background-color:  #e4e4e4;
}

/* Sidebar styles */
.side_bar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #75a761;
  padding: 10px;
}

.side_bar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Top navbar styles */
.top_navbar_container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  /* padding: 10px; */
  background-color: #ffffff;
}
.mag_glass{
  background-image: url(image/mag200px.png);
  background-size: cover;
  height: 20px;
  width: 20px;
}
.lower_nameplate{
  display: flex;
  /* margin: 1% 0% 0% 0%; */
  align-items: center;
}

.notiy_top{
  display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-evenly;
    gap: 30px;
    padding-bottom: 2px;
}

.notiy_bottom{
  margin: 0;
  padding: 0;
  display: flex;
}


.button_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.bell{
  background-image: url(image/bell200.png);
  background-size: cover;
  height: 25px;
  width: 25px;
}
.icon{
  background-image: url(image/72head.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  /* border: goldenrod solid 2px; */
  /* background-color:goldenrod ; */
  /* border-radius: 50%; */
}

.search_input{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.search_bar_container {
  display: flex;
    align-items: flex-start;
    padding: 0;
}

.search_bar_container input {
  margin-left: 10px;
  padding: 5px;
}

.notification_bar_container, .Status_container {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.Status_container {
  flex-grow: 1;
  /* justify-content: flex-end; */
}

.name_container {
  margin-left: 5px;
}

/* .button_container button {
  margin-left: 10px;
} */

/* Middle content styles */
.middle_bar_container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100%;
  width: 100%;
}

.project_container {
  /* background-color: #f9f9f9; */
  padding: 20px;
  /* display: flex; */
}

.two_column_project{
  display: flex;
  width: 100%;
}

/* .project_container p {
  
  font-size: 1.2em;
  margin-bottom: 20px;
} */

.cell-1, .cell-2, .cell-3, .cell-4, .cell-5, .cell-6 {
  border: 1px solid #ddd;
  margin: 10px;
  padding:0px;
  border-left: 2mm ridge rgba(152, 50, 220, 0.4);
  border-radius: 5px;
}
.cell_text_container{
  padding-left: 5px;
}
/* .project_box_1{
  background-color: #ffffff;
} */

.cell_text_container,.lil_text,h4,.clickable_links_containers{
  background-color:  #ffffff;
}
.right_middle_container {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 50% 50%; */
  /* padding: 20px; */
}

.right_middle_container .top, .right_middle_container .bottom {
  padding: 10px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  
}

.announcements_container {
  background-color: #852020;
}

.lil_text {
  white-space: wrap;
  font-size: xx-small;
}
.stat_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_right,.bottom_right, .middle_right , .bottom{
  background-color:  #ffffff;
}

/* ***************** */
/* buttons */
button {
  display: flex;
    /* padding: 1em 0em 1em 1em; */
    background-color: rgb(63, 224, 101);
    cursor: pointer;
    box-shadow: 4px 6px 0px black;
    border: 4px solid;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: box-shadow 250ms, transform 250ms, filter 50ms;
    scale: .3;
    /* margin-left: -19%; */
    margin-top: -5%;
    align-items: stretch;
    justify-content: space-evenly;
}
button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 3px 0px black;
}
button:active {
  filter: saturate(0.75);
}
button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(206, 60, 228);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
button:hover::after {
  transform: translateX(0);
}
.bgContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 35%; /* adjust this if the button text is not proper */
  font-size: 2em;
  font-weight: 600;
}
.bgContainer span {
  position: relative;
  transform: translateX(-100%);
  transition: all 250ms;
}
.button:hover .bgContainer > span {
  transform: translateX(0);
}
.arrowContainer {
  padding: 1em;
  margin-inline-end: 1em;
  border: 4px solid;
  border-radius: 50%;
  background-color: rgb(181, 47, 179);
  position: relative;
  overflow: hidden;
  transition: transform 250ms, background-color 250ms;
  z-index: 100;
}
.arrowContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: rgb(77, 255, 163);
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}
button:hover .arrowContainer::after {
  transform: translateX(0);
}
button:hover .arrowContainer {
  transform: translateX(5px);
}
button:active .arrowContainer {
  transform: translateX(8px);
}
.arrowContainer svg {
  vertical-align: middle;
}

/* container buttons */
button {
  display: flex;
    /* padding: 1em 0em 1em 1em; */
    background-color: rgb(63, 224, 101);
    cursor: pointer;
    box-shadow: 4px 6px 0px black;
    border: 4px solid;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: box-shadow 250ms, transform 250ms, filter 50ms;
    scale: .3;
    margin-left: -19%;
    margin-top: -5%;
    align-items: stretch;
    justify-content: space-evenly;
}
button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 3px 0px black;
}
button:active {
  filter: saturate(0.75);
}
button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(206, 60, 228);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
button:hover::after {
  transform: translateX(0);
}
.bgContainer1 {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 51%; /* adjust this if the button text is not proper */
  font-size: 2em;
  font-weight: 600;
}
.bgContainer1 span {
  position: relative;
  transform: translateX(-100%);
  transition: all 250ms;
}
.button:hover .bgContainer1 > span {
  transform: translateX(0);
}
